.tb-item {
    font-size: large;
    padding: 20px 35px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    border: 1px solid black;
}

.one {
    position: absolute;
    left: 170px;
    color: black;
    width: 600px;
}

.v {
    border-left: 1px solid black;
    height: 0px;
    position: absolute;
    top: 188px;
}

.v-one {
    border-left: 1px solid black;
    height: 0px;
    position: absolute;
    left: 170px;
    top: 188px;
}

.v-two {
    border-left: 1px solid black;
    height: 0px;
    position: absolute;
    left: 370px;
    top: 188px;
}

.v-three {
    border-left: 1px solid black;
    height: 0px;
    position: absolute;
    left: 570px;
    top: 188px;
}

.v-four {
    border-left: 1px solid black;
    height: 0px;
    position: absolute;
    left: 770px;
    top: 188px;
}

.btn-float {
    position: fixed;
    font-size: x-large;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    top: 40%;
    right: 10%;
}