.tb-item {
    font-size: large;
    padding: 20px 35px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    border: 1px solid black;
}

.one {
    position: absolute;
    left: 170px;
    top: 180px;
    color: black;
    width: 600px;
}

.two {
    position: absolute;
    left: 170px;
    top: 280px;
    color: black;
    width: 600px;
}

.three {
    position: absolute;
    left: 170px;
    top: 380px;
    color: black;
    width: 600px;
}

.four {
    position: absolute;
    left: 170px;
    top: 480px;
    color: black;
    width: 600px;
}

.v-one {
    border-left: 1px solid black;
    height: 301px;
    position: absolute;
    left: 170px;
    top: 188px;
}

.v-two {
    border-left: 1px solid black;
    height: 301px;
    position: absolute;
    left: 370px;
    top: 188px;
}

.v-three {
    border-left: 1px solid black;
    height: 301px;
    position: absolute;
    left: 570px;
    top: 188px;
}

.v-four {
    border-left: 1px solid black;
    height: 301px;
    position: absolute;
    left: 770px;
    top: 188px;
}